html
  head
    title Co-Operative's Union
    block head  // This block allows you to inject additional content (like CSS) into the <head> section.
  body
    header
      h1(style="font-size: 45px; font-weight: bold; color: blue; margin-top: 10px; margin-bottom: 2px; text-align: center;") Co-Operative's Union
    main
      block content  // This block will be replaced by the content of the individual pages (like index.pug)
